@model HomeIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<main>
    @if (User.Identity.IsAuthenticated)
	{
        <a class="btn btn-primary" asp-controller="Account" asp-action="Logout">Logout</a>
    }
    else
    {
        <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</a>
    }
    <!-- SLIDER START -->
@await Component.InvokeAsync("OwlSlider")
    <!-- SLIDER END -->
    <!-- PRODUCTS START -->

    <section id="products">
        <div class="container">
            <div class="row pt-5">
                <div class="col-12 d-flex justify-content-between">
                    <ul class="category-mobile d-md-none list-unstyled">
                        <li>
                            <a href="" class="categories mr-2">Categories</a>
                            <i class="fas fa-caret-down"></i>
                            <ul class="category list-unstyled" style="display: none;">
                                @foreach (Category category in Model.Categories)
                                {
                                    <li><a href="" data-id="@category.Name.ToLower()">@category.Name</a></li>
                                }


                            </ul>
                        </li>
                    </ul>
                    <ul class="category d-none d-md-flex list-unstyled">
                        <li><a href="" data-id="all">All</a></li>
                        <li><a href="" data-id="popular">Popular</a></li>
                        <li><a href="" data-id="winter">Winter</a></li>
                        <li><a href="" data-id="various">Various</a></li>
                        <li><a href="" data-id="exotic">Exotic</a></li>
                        <li><a href="" data-id="green">Greens</a></li>
                        <li><a href="" data-id="cactuse">Cactuses</a></li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <a href="" class="mr-2">Filter</a>
                            <i class="fas fa-caret-down"></i>
                        </li>
                    </ul>
                </div>
            </div>
            @await Component.InvokeAsync("Product") 
        </div>
    </section>

    <!-- PRODUCTS END -->
    <!-- ABOUT START -->

    <section id="about">
        <div class="container py-5">
            <div class="row py-5">
                <div class="col-lg-6">
                    <div class="img">
                        <img src="~/img/@Model.AboutSection.ImageName" class="img-fluid" alt="">
                        <div class="player position-absolute rounded-circle d-flex align-items-center justify-content-center">
                            <i class="fas fa-play fa-lg"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-text mt-5 mt-lg-0 px-lg-5">
                        @Html.Raw(Model.AboutSection.Title)
                        <p class="py-3">
                            @Model.AboutSection.Description
                        </p>
                        <ul class="list-unstyled">
                            @foreach (InfoList infoList in Model.InfoLists)
                            {
                                <li class="mt-3">
                                    <img src="~/img/h1-custom-icon.png" class="mr-2" alt=""> @infoList.Info
                                </li>
                            }                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ABOUT END -->
    <!-- EXPERTS START -->

    <section id="experts">
        <div class="container">
            <div class="row py-5">
                <div class="offset-lg-3 col-lg-6">
                    <div class="section-title">
                        <h1>@Model.ExpertSection.Title</h1>
                        <p class="text-black-50">
                          @Model.ExpertSection.Description
                        </p>
                    </div>
                </div>
            </div>
            <div class="row pb-5">
                @foreach (ExpertImage expertImage in Model.ExpertImages)
                {
                    <div class="col-md-6 col-lg-3">
                        <div class="item text-center">
                            <div class="img">
                                <img src="~/img/@expertImage.ImageName" class="img-fluid rounded-circle" alt="">
                            </div>
                            <div class="text mt-3">
                                <h6>@expertImage.PersonName</h6>
                                <p class="text-black-50">@expertImage.Profession</p>
                            </div>
                        </div>
                    </div>
                }


                <div class="col-lg-3"></div>
                <div class="col-lg-3"></div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </section>

    <!-- EXPERTS END -->
    <!-- SUBSCRIBE START -->

    <section id="subscribe" style="background: url(../img/@Model.Subscribe.ImageName ); background-attachment: fixed;">
        <div class="container py-5">
            <div class="row py-5">
                <div class="col-12">
                    <div class="content text-center py-5">
                        <h3>@Model.Subscribe.Title</h3>
                        <div class="form-group d-flex justify-content-center flex-wrap mt-5">
                            <input type="email" placeholder="Email Address" class="form-control-lg rounded-0">
                            <button class="btn btn-danger btn-lg rounded-0 px-5 mt-3 mt-sm-0">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SUBSCRIBE END -->
    <!-- BLOG START -->

    <section id="blog">
        <div class="container">
            <div class="row py-5">
                <div class="offset-lg-3 col-lg-6">
                    <div class="section-title">
                        <h1>@Model.Blog.Title</h1>
                        <p class="text-black-50">
                            @Model.Blog.Description
                        </p>
                    </div>
                </div>
            </div>
            <div class="row pb-5">
                @foreach (BlogPicture blogPicture in Model.BlogPictures)
                {
                    <div class="col-md-6 col-lg-4">
                        <div class="item">
                            <div class="img position-relative">
                                <img src="~/img/@blogPicture.Image" class="img-fluid" alt="">
                                <div class="date rounded bg-light position-absolute py-1 px-2">
                                    <span>@blogPicture.Date.ToString("dd.MM.yyyy")</span>
                                </div>
                            </div>
                            <div class="text mt-3 text-center px-5">
                                <h5>@blogPicture.Title</h5>
                                <p class="text-black-50">
                                    @blogPicture.Description
                                </p>
                            </div>
                        </div>
                    </div>
                }
              
            </div>
        </div>
    </section>

    <!-- BLOG END -->
    <!-- SAY START -->

   @await Component.InvokeAsync("Say");

    <!-- SAY END -->
    <!-- INSTAGRAM START -->
@await Component.InvokeAsync("InstagramSection") 

    <!-- INSTAGRAM END -->

</main>


